* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.sidenav h2 {
  color: #fff;
  padding-left: 20px;
  margin-bottom: 20px;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav ul li {
  margin-bottom: 10px;
}

.sidenav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidenav ul li a:hover {
  background-color: #555;
}

.main {
  margin-left: 300px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.statistics {
  width: 45%;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.statistics h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.statistics p {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
}

table {
  width: 90%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #333;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.main .order,
.main .product,
.main .user
{
	margin-top:40px;
}

 .button ,
 .add_button a
 {
  padding:8px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration:none;
  margin-bottom:40px;
}

.button:hover,
.add_button a :hover {
  background-color: #555;
}